body{
	background-color: #2F3032;
	margin: 0;
}
.head__img{
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
}
.logo{
	height: 200px;
	width: 180px;
	position: absolute;
	top: 50px;
	left: 150px;
	transition: all .5s;
}

.head__btn{
	border: 2px solid whitesmoke;
	position: absolute;
	top: 300px;
	left: 170px;
	color: whitesmoke;
	font-family: 'Bebas Neue', cursive;
	cursor: pointer;
	padding: 15px 50px;
	transition: all .5s;
}
.head__btn:hover{
	padding: 20px 60px;
	left: 155px;
	top: 290px;
	font-size: 18px;
	box-shadow: 0 0 15px black;
}
.container1{
	justify-content: center;
	display: flex;
	margin-top: 100px;
	
}
.container1__title{
	font-family: 'Saira Condensed', sans-serif;
	color: whitesmoke;
	justify-content: center;
	display: flex ;
	margin-top: 70px;
	margin-bottom: -50px;
	font-size: 50px ;
	text-transform: uppercase;
}
.models__blocks{
	border: 2px solid whitesmoke;
	margin: 20px;
	background-color: whitesmoke;
	transition: all .5s;
}
.models__blocks:hover{
	box-shadow: 0 0 12px whitesmoke;
}
.models__images{
	padding: 30px;
	height: 180px;
	width: 270px;
	
	
}
.models__text{
	width: 250px;
	text-align: center;
	padding: 20px 45px;
	font-family: 'Saira Condensed', sans-serif;
}
.models__title{
	font-size: 25px;
	font-family: 'Bebas Neue', cursive;
	position: relative;
	left: 50px;
}

.container2__image{
	width: 700px;
	position: absolute;
	left: 490px;
}
.container2__column{
	margin-top: 70px;
}
.container2__title{
	position: absolute;
	left: 100px;
}

.future{
	width: 1000px;
	position: relative;
	margin-top:500px;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.future__title{
	position: absolute;
	color: whitesmoke;
	font-family: 'Bebas Neue', cursive;
	font-size: 25px;
	top: 2350px;
	left: 500px;;
}
.slider{
	width: 1000px;
	height: 500px;
	border-radius: 10px;
	 overflow: hidden; 
}
.slides{
	width: 500%;
	height: 500px;
	display: flex;
	
}
.slides input{
	display: none;
}

.slide{
	width: 20%;
	transition: 2s	;
}
.slide img{
	width: 1000px;
	height: 500px;
}
.slider__image{
	object-fit: cover;
	
}
.navigation-manual{
	position: absolute;
	width: 1000px; 	
	margin-top: -40px;
	display: flex; 	
	justify-content: center;
}
.manual-btn{
	border: 2px solid #2F3032;
	padding: 5px;
	border-radius: 10px;
	cursor: pointer;
	transition: 5s;
}
.manual-btn:not(:last-child){
	margin-right: 40px;
}
.manual-btn:hover{
	background-color: #2F3032;
}
#radio1:checked ~ .first{
	margin-left: 0;
}
#radio2:checked ~ .first{
	margin-left: -20%;
}
#radio3:checked ~ .first{
	margin-left: -40%;
}
#radio4:checked ~ .first{
	margin-left: -60%;
}
.navigation-auto{
	position: absolute;
	display: flex;
	width: 1000px;
	justify-content: center;
	margin-top: 460px;
}
.navigation-auto div{
	border: 2px solid #2F3032;
	padding: 5px;
	border-radius: 10px;
	transition: 5s;
}
.navigation-auto div:not(:last-child){
	margin-right: 40px;
}
#radio1:checked ~ .navigation-auto .auto-btn1{
	background-color: #2F3032;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
	background-color: #2F3032;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
	background-color: #2F3032;
}
#radio4:checked ~ .navigation-auto .auto-btn4{
	background-color: #2F3032;
}


.footer{
	display: flex;
	max-width: 100%;
	height: 300px;
	background-color: whitesmoke;
	position: relative;
}
.footer__block{
	margin-top: 50px;
	margin-left: 50px;
}
.footer__title{
	font-family: 'Bebas Neue', cursive;
	font-size: 25px;
	position: relative;
	top: 30px;
	left: 50px;
}
ul{
	position: relative;
	top: 25px;
}
li{
	cursor: pointer;
	list-style-type: none;
	margin: 20px;
	text-transform: uppercase;
	font-family: 'Saira Condensed', sans-serif;

}
.footer__about{
	margin-top: 50px;
	margin-left: 50px;
}
.footer__contacts{
	display: flex;
	margin-top: 80px;
	margin-left: 50px;
}
.icon{
	margin: 20px;
	position: relative;
	width: 50px;
	height: 50px;
	transition: all .3s;
	border-radius: 50%;
}
.icon:hover{
	box-shadow: 0 0 10px black;
	
}